---
import "../styles/global.css";
import { OnboardingWizardWrapper } from "../components/onboarding/OnboardingWizardWrapper";
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Konfiguracja - DailyPath</title>
  </head>
  <body>
    <OnboardingWizardWrapper client:load />
  </body>
</html>
